.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 900px;

  margin: 0 auto;

  padding: 0 20px;
}

.wrapper header {
  display: flex;
  width: 100%;

  justify-content: space-between;

  margin: 3rem 0 2rem 0;
}

.wrapper header div {
  display: flex;
}

.wrapper header div strong {
  font-weight: 900;
  font-size: 1rem;
  color: var(--blue);
  margin-right: 10px;
}

.wrapper header div:nth-child(2) strong {
  color: var(--purple-dark);
}

.wrapper header div section {
  font-size: 12px;
  padding: 1px 8px;
  border-radius: 12px;
  background: var(--gray-400);
  color: var(--gray-200);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  margin-top: 3rem;

  color: var(--gray-300);
}

.empty img {
  width: 4rem;
  margin-bottom: 12px;
}

.empty strong {
  font-size: 16.5px;
}

.empty p {
  font-size: 14.5px;
}