.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper header {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;

  margin-top: 3rem;
  padding: 0 14px;
}

.wrapper header div {
  display: flex;
}

.wrapper header div strong {
  font-weight: 900;
  font-size: 1rem;
  color: var(--blue);
  margin-right: 10px;
}

.wrapper header div:nth-child(2) strong {
  color: var(--purple-dark);
}

.wrapper header div section {
  font-size: 12px;
  padding: 1px 8px;
  border-radius: 12px;
  background: var(--gray-400);
  color: var(--gray-200);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}